body{
font-family: Arial;
margin:0;
background:#f4f6f9;
}

header{
background:#002f5b;
color:white;
padding:20px;
text-align:center;
}

nav{
background:#00509e;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.cards{
display:flex;
gap:20px;
padding:20px;
}

.card{
background:white;
padding:20px;
border-radius:5px;
box-shadow:0px 2px 6px rgba(0,0,0,0.2);
}

table{
width:80%;
margin:20px auto;
border-collapse:collapse;
}

td, th{
border:1px solid #ccc;
padding:10px;
}

footer{
text-align:center;
padding:20px;
}
